* {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.main {
  display: flex;
  flex-direction: column;
  background-color: #EBF3FA;
  padding: 1.5rem;
}

.header {
  margin-bottom: 2rem;  
}

.container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.main-content {
  flex-grow: 1;
}