.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    background-color: white;
    box-shadow: 0 6px 12px rgba(217, 231, 245, 0.7);
    border-radius: 16px;
    justify-content: space-evenly;
}

.dashboard-pie-chart {
    padding: 2rem;
}

.dashboard-line-chart {
    padding: 2rem;
}

@media screen and (max-width: 999px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
}