<div class="menu">
    <app-menu-item title="Dashboard" route="/dashboard" iconUrl="assets/home.svg"></app-menu-item>
    <app-menu-item title="Accounts" route="/accounts" iconUrl="assets/users.svg"></app-menu-item>
    <app-menu-item title="Activities" route="/activities" iconUrl="assets/sync.svg"></app-menu-item>

    <div class="menu-footer">
        <div style="margin-bottom: 2rem;">
            <app-user-profile></app-user-profile>
        </div>

        <app-menu-item title="Sign Out" route="/sign-out" iconUrl="assets/sign-out.svg"></app-menu-item>
    </div>
</div>